@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700");

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class^="my-col-"] {
  width: 100%;
  float: left;
  padding: 0 15px;
}

html {
  line-height: 1.6;
}

body {
  background-color: rgba(231, 249, 255, 0.7);
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
}

main {
  padding: 0px 32px;
}

nav {
  text-align: center;
  padding: 32px 0;
}

nav a {
  font-weight: 500;
  font-size: 0.875rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  padding: 8px 12px;
  width: 140px;
  display: block;
  margin: 0 auto 10px;
  transition: 0.3s;
}

nav a:hover {
  background-color: rgba(187, 216, 255, 0.6);
  border-radius: 7px;
}

h1 {
  font-family: inherit;
  font-weight: 700;
  font-size: 1.875rem;
  margin-bottom: 16px;
}

p {
  font-family: inherit;
  font-weight: 400;
  line-height: inherit;
  color: rgba(68, 68, 68);
  padding-bottom: 16px;
  
}

h2 {
  font-family: inherit;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 16px 0;
}

.clanek {
  margin-top: 32px;
  margin-bottom: 8px;
  transition: transform 0.3s; /* Animation */
}

.clanek:hover {
  transform: scale(1.03);
}

h3 {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 16px;
}

.clanek a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 2px;
}

.oddeleni-prispevku {
  margin: 32px 0;
  border-top: 1px solid darkblue;
}

.obsah {
  line-height: 200%;
  padding-bottom: 16px;
}

.obsah li {
  list-style-position: inside;
}

.obsah li a {
  padding-left: 10px;
  color: rgb(25, 25, 199);
}

.obsah li a:hover {
  color: rgba(25, 25, 199, 0.8);
}

ul {
  list-style-position: inside;
  padding-left: 10px;
}

ul li ul {
  padding-left: 10px ;
}

title {
    display: none;  
}

img {
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 5px;
  padding-bottom: 16px;
}

article {
  margin-bottom: 16px;
}

#vyhledavani {
  background-color: rgba(187, 216, 255, 0.466);
  border: 1px solid rgb(128, 162, 255);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 32px;
  
}

form {
  background-color: rgb(255, 255, 255);
  width: 90%;
  height: 40px;
  border-radius: 10px;
  margin: 0 auto 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
  
form input {
  all: unset;
  font: 16px;
  height: 100%;
  width: 100%;
  margin: 16px 10px 16px 10px;
}


form button {
  all:unset;
  background-color: rgba(224, 224, 224, 0.411);
  padding: 4px 16px;
  margin-right: 4px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.9rem;
  transition: 0.3s;
}

form button:hover {
  background-color: rgba(224, 224, 224, 0.692);
}

#mail {
  color: inherit;
}

#mail:hover {
  color: rgb(110, 173, 255);
}

th {
  background-color: rgba(187, 216, 255, 0.466);
  padding: 5px 10px;
  border-radius: 5px;
}

td {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 5px 10px;
  border-radius: 5px;
}

/*tr:not(:first-child):hover {
  background-color: rgb(26, 103, 202);
}*/

tr:nth-child(odd) {
  background-color: rgba(187, 216, 255);
}

#zdroje {
  margin: 42px 0;
}

#zdroje ul {
  list-style-position: inside;
}

#zdroje ul li {
  font-style: italic;
}

#zdroje ul li a {
  text-decoration: none;
  color: inherit;
}

footer {
  margin-top: 48px;
  padding: 50px 0 32px 0;
  text-align: center;
}

#copyright {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 8px;
  display: block;
}

#footer-text {
  font-size: 0.75rem;
}


@media only screen and (min-width: 576px) {
  .my-col-sm-1 {
    width: 8.33%;
  }
  .my-col-sm-2 {
    width: 16.66%;
  }
  .my-col-sm-3 {
    width: 25%;
  }
  .my-col-sm-4 {
    width: 33.33%;
  }
  .my-col-sm-5 {
    width: 41.66%;
  }
  .my-col-sm-6 {
    width: 50%;
  }
  .my-col-sm-7 {
    width: 58.33%;
  }
  .my-col-sm-8 {
    width: 66.66%;
  }
  .my-col-sm-9 {
    width: 75%;
  }
  .my-col-sm-10 {
    width: 83.33%;
  }
  .my-col-sm-11 {
    width: 91.66%;
  }
  .my-col-sm-12 {
    width: 100%;
  }

  
}

@media only screen and (min-width: 760px) {
  nav a {
    display: inline-block;
    margin-right: 10px;
  }


  .my-col-md-1 {
    width: 8.33%;
  }
  .my-col-md-2 {
    width: 16.66%;
  }
  .my-col-md-3 {
    width: 25%;
  }
  .my-col-md-4 {
    width: 33.33%;
  }
  .my-col-md-5 {
    width: 41.66%;
  }
  .my-col-md-6 {
    width: 50%;
  }
  .my-col-md-7 {
    width: 58.33%;
  }
  .my-col-md-8 {
    width: 66.66%;
  }
  .my-col-md-9 {
    width: 75%;
  }
  .my-col-md-10 {
    width: 83.33%;
  }
  .my-col-md-11 {
    width: 91.66%;
  }
  .my-col-md-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .my-col-lg-1 {
    width: 8.33%;
  }
  .my-col-lg-2 {
    width: 16.66%;
  }
  .my-col-lg-3 {
    width: 25%;
  }
  .my-col-lg-4 {
    width: 33.33%;
  }
  .my-col-lg-5 {
    width: 41.66%;
  }
  .my-col-lg-6 {
    width: 50%;
  }
  .my-col-lg-7 {
    width: 58.33%;
  }
  .my-col-lg-8 {
    width: 66.66%;
  }
  .my-col-lg-9 {
    width: 75%;
  }
  .my-col-lg-10 {
    width: 83.33%;
  }
  .my-col-lg-11 {
    width: 91.66%;
  }
  .my-col-lg-12 {
    width: 100%;
  }

  header,
  main {
    margin: auto;
    max-width: 50rem;
  }

  nav a {
    display: inline-block;
    margin-right: 10px;
  }
}
